<div class="card border-primary mb-3">
  <div class="card-header">
    Clientes
  </div>
  <div class="card-body table-responsive-sm text-primary">
    <div class="card-title">Listado de Clientes</div>
    <!-- <div class="my-2 text-left">
      <button type="button" Class="btn-primary btn btn-rounded" [routerLink]="['/clientes/form']">Crear Cliente</button>
    </div> -->
    <div class="alert alert-info" *ngIf="listaClientes?.length == 0 ">
      No hay registros en la base de datos!
    </div>
    <table class="table table-bordered table-striped" *ngIf="listaClientes?.length>0">
      <thead class="text-center">
        <tr>
          <th>ID</th>
          <th>NOMBRE</th>
          <th>APELLIDO</th>
          <th>EMAIL</th>
          <th>FECHA INICIO</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listaClientes" >
          <td>{{item.id}}</td>
          <td>{{item.nombre}}</td>
          <td>{{item.apellido}}</td>
          <td>{{item.email}}</td>
          <td>{{item.createdAt}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
